apex==0.1
caffe2==0.8.1
datasets==3.1.0
docutils==0.21.2
einops==0.8.0
matplotlib==3.10.0
numpy==1.24.4
openai==1.59.3
packaging==24.2
pandas==2.2.3
peft==0.12.0
pynvml==12.0.0
Requests==2.32.3
sentencepiece==0.2.0
setuptools==75.1.0
Sphinx==8.1.3
sphinx_rtd_theme==3.0.2
tabulate==0.9.0
torch==2.5.1
torch_xla==2.5.1
torchvision==0.20.1
tqdm==4.67.1
transformers==4.46.1
triton==3.1.0
xmlrunner==1.7.7
